<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>{{ title if title else "Гуди" }}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="header" id="header">
    <div class="header-top">
        <div class="header-logo">гуди</div>
        <div class="header-spacer"></div>
        <div class="header-menu" id="burger"></div>
    </div>
    <div class="menu-items">
        <!-- Меняем меню-item на ссылки (a) -->
        <a class="menu-item" href="{{ url_for('index') }}">Каталог компаний</a>
        <a class="menu-item" href="{{ url_for('autos') }}">Авто в наличии</a>
        <a class="menu-item" href="{{ url_for('calc') }}">Калькулятор</a>
        <a class="menu-item" href="{{ url_for('about') }}">О сервисе</a>
    </div>
</div>

<div class="country-select">
    <div class="country-select-text">Страна аукциона</div>
    <div class="country-select-arrow"></div>
</div>

<div class="content">
    {% block content %}{% endblock %}
</div>

<script>
    const header = document.getElementById('header');
    const burger = document.getElementById('burger');

    burger.addEventListener('click', () => {
        header.classList.toggle('expanded');
    });
</script>
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>
