{% extends "base.html" %}
{% block content %}
<div class="company-details">
    <div class="company-images">
    {% for image in company.images %}
    <img src="{{ image }}" alt="Изображение компании {{ company.name }}">
    {% endfor %}
    </div>
    <h2>{{ company.name }}</h2>
    <p>{{ company.description }}</p>
    <a href="{{ url_for('webapp.webapp_page') }}">Назад к каталогу компаний</a>
</div>

<style>
    .company-details {
        padding: 20px;
        background-color: #f9f9f9;
        border-radius: 8px;
    }
    .company-details h2 {
        margin-bottom: 10px;
    }
    .company-details p {
        font-size: 14px;
        color: #555;
    }
</style>
{% endblock %}
